.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.inputs input{
  width: 1rem;
  margin: 1rem;
}
body{
  background: linear-gradient(rgba(96, 15, 143, 0.931),rgb(156, 63, 9)) no-repeat ;
  color:white;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-shadow: 1px 1px 8px black;
  background: radial-gradient(rgb(16, 30, 151),rgb(195, 25, 195));
  z-index: 99;
  position:fixed;
  top: 30%;
}
.primary-btn{
  background: rgb(3, 66, 109);
  padding: .5rem;
  border-radius: 3px;
  color: white;
  margin:0 3rem;
  
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.btns{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.number-input{
  margin: 2rem 2rem;
}